a {
  text-decoration: none;
}

header {
  background-color: pink;
  color: white;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 1000px;
}

.btn {
  display: inline-block;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.logo {
  font-size: 30px;
  float: left;
  padding: 10px;
  font-family: 'Yu Gothic';
}

.maakoo {
  font-size: 20px;
  font-family: 'Yu Gothic';
  color: black;
}

.header-content {
  float: right;
  padding: 15px;
  font-size: 20px;
  font-family: 'Century Gothic';
}

.content-link {
  float: left;
  margin-left: 10px;
}

.content-link a {
  padding: 5px;
  border: 1px solid white;
}


.button {
  color: white;
  border-bottom: 0;
}


.main {
  height: 2500px;
  width: 1000px;
  padding-top: 50px;
}

.content-main {
  padding-top: 100px;
}

.content-main p {
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.content-end {
  margin: 40px 0;
}

footer {
  height: 125px;
  width: 1000px;
  background-color: black;
}

.footer-logo {
  margin: 0 25px;
  padding-top: 25px;
  font-family: 'Yu Mincho';
  float: left;
}

.footer-me {
  float: right;
  font-family: 'Yu Mincho';
  color: white;
  font-size: 15px;
  margin: 50px;
}

.footer-me a {
  color: white;
  border: 1px solid white;
  padding: 10px;
}

footer h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

footer p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 20px;
}
