

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
}

header {
  background-color: pink;
  color: white;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

}

.btn {
  display: inline-block;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.logo {
  font-size: 30px;
  float: left;
  padding: 10px;
  font-family: 'Yu Gothic';
}

.maakoo {
  font-size: 20px;
  font-family: 'Yu Gothic';
  color: black;
}

.header-content {
  float: right;
  padding: 15px;
  font-size: 20px;
  font-family: 'Century Gothic';
}

.content-link {
  float: left;
  margin-left: 10px;
}

.content-link a {
  padding: 5px;
  border: 1px solid white;
}


.button {
  color: white;
  border-bottom: 0;
}


.main {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.content-main {
  padding-top: 100px;
}

.content-main p {
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 50px;
  font-family: 'Yu Mincho';
  text-align: center;
}

.content-end {
  padding: 50px 0;
}

footer {
  height: 125px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

.footer-logo {
  margin: 0 25px;
  padding-top: 25px;
  font-family: 'Yu Mincho';
  float: left;
}

.footer-me {
  float: right;
  font-family: 'Yu Mincho';
  color: white;
  font-size: 15px;
  margin: 50px;
}

.footer-me a {
  color: white;
  border: 1px solid white;
  padding: 10px;
}

footer h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

footer p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 20px;
}

section .inner div {
    opacity: 0;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-animation-name: Drop;
    animation-name: Drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#sakura .inner div {
    position: fixed;
    display: block;
    width: 10px;
    height: 15px;
    background: url("./sakura.png") no-repeat;
}

#sakura .inner div.flake2,
#sakura .inner div.flake4,
#sakura .inner div.flake6,
#sakura .inner div.flake8 {
    background-size: 5px 6px !important;
}

.flake1 {
    left: 10px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.flake2 {
    left: 100px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.flake3 {
    left: 100px;
    -webkit-animation-duration: 2.9s;
    animation-duration: 2.9s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.flake4 {
    left: 400px;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.flake5 {
    left: 600px;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.flake6 {
    left: 150px;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.flake7 {
    left: 170px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.flake8 {
    left: 200px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

@-webkit-keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0.3;
    }
}

@keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0.3;
    }
}
